.row{
    text-align: center;
    flex-direction: row;
    align-content: center;
}

img{
    width: 100px;
    height: 133px;
}

.card{
    flex-direction: column;
}

@media only screen and (max-width:600px) {
    .card{
        flex-direction: column;
    }

    .row{
        text-align: center;
        flex-direction: column;
        align-content: center;
    }
}